NODE_ENV =

PORT = 

// Development Database

DB_USERNAME = 

DB_PASSWORD =

DB_HOST =

DB_URL =

DB_PORT =

DB_DIALECT = 

DB_NAME =

// Production Database

NEON_API_KEY = 

PG_USERNAME = 

PG_PASSWORD = 

PG_HOST = 

PG_URL = 

PG_PORT = 

PG_DIALECT = 

PG_DATABASE = 

ENDPOINT_ID = 